@font-face {
  font-family: JetBrains;
  src: url(fonts/JetBrainsMono.ttf);
}

body {
  background-color: #96d5ff;
  font-family: JetBrains;
  min-height: 70vh; /* Modifica la altura según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background: #2ecc71;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #27ae60;
}

.getters {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#getDataEl,
#getDataTimeoutEl,
#getDataPromiseEl,
#asyncFetchingEl {
  margin: 10px;
  padding: 10px 10px;
  border: 2px solid #3498db;
  border-radius: 15px;
  position: relative;
  background: linear-gradient(to bottom, #3498db, #2980b9);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

/*------------------------------------------------------------------------------------------------------------------- */
/*                                                    LOADERS                                                         */
/*------------------------------------------------------------------------------------------------------------------- */

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff94d 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
  margin: auto;
}

.loaderTimeOut {
  color: #fff94d;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loaderTimeOut:before {
  content: 'GetDataTimeout...';
}

.loaderCircle {
  margin: auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff94d #0000;
  animation: l5 1s infinite;
}

/*------------------------------------------------------------------------------------------------------------------- */
/*                                                  ANIMACIONES LOADERS                                               */
/*------------------------------------------------------------------------------------------------------------------- */

@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
