.getters {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#getDataEl,
#getDataTimeoutEl,
#getDataPromiseEl,
#asyncFetchingEl {
  background-color: rgb(255, 235, 83);
  border-radius: 10px;
  width: 300px;
  padding-left: 10px;
}

/* LOADERS */

.loaderTimeOut {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loaderTimeOut:before {
  content: '2 segundos...';
}

.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

/* HTML: <div class="loader"></div> */
.loaderCircle {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}}
