:root {
  --diametro: 70px;
}

body {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 100px;
}

.cuenta-atras {
  text-align: right;
}

.pregunta {
  background-color: #ffcc00;
  padding: 60px 100px;
}

.oculto {
  display: none;
}

#btn-play {
  margin-top: 100px;
  border-radius: 50%;
  border: 1px solid black;
  width: var(--diametro);
  height: var(--diametro);
}
